/* LeetCode.css */
/* LeetCode.css */
.leetcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .leetcode h2 {
    font-size: 2.5rem;
    color: #4e73df;
    margin-bottom: 30px;
  }
  
  .leetcode h3, .leetcode h4 {
    font-size: 1.5rem;
    color: #495057;
    text-align: center;
  }
  
  .leetcode ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 40px;
  }
  
  .leetcode p {
    font-size: 1.2rem;
    color: #495057;
    text-align: center;
  }
  
  .leetcode form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
  }
  
  .leetcode label {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .code-box {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .test-button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .test-button:hover {
    background-color: #218838;
  }
  
  .submit-button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 10%;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .feedback {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  .test-results {
    margin-top: 20px;
  }
  
  .test-results ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .test-results li {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .passed {
    color: green;
  }
  
  .failed {
    color: red;
  }
  
  